* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

#header {
    grid-area: header;
    margin-left: 25%;
    margin-top: 5%;
}

.disclaimer {
    grid-area: header;
    margin-left: 30%;
    font-size: small;
    font-weight: bolder;
    width: 200px;
}

#formContainer {
    grid-area: main;
    margin-left: 30%;
    margin-bottom: 5%;
}

h3 {
    grid-area: main;
}

#ingredients {
     width: 50%;
     height: 200px;
     border-radius: 6px;
}

#buttonContainer {
    grid-area: main;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#submitButton {
    border-radius: 8px;
    padding: .5em;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#submitButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#results {
    grid-area: main;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.warn {
    background-color: rgba(255, 208, 0, 0.225);
    max-width: fit-content;
}

.danger {
    background-color: rgba(198, 3, 3, 0.225);
    font-weight: bold;
    max-width: fit-content;
}

.alert {
    padding: 20px;
    background-color: rgba(198, 3, 3, 0.225);
}