* {
    margin: .5em;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
        gap: 1em;
}

.header {
    grid-area: header;
}

#formContainer {
    grid-area: main;
    margin: 2em;
}

h3 {
    grid-area: main;
}

#ingredients {
     width: 50%;
     height: 200px;
     border-radius: 6px;
}

#buttonContainer {
    grid-area: main;
    margin: 2em;
    margin-left: 25%;
}

#submitButton {
    border-radius: 8px;
    padding: .5em;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#submitButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#results {
    grid-area: main;
    margin: 2em;
}